<% include partials/header %>

<div class="container text-center">
    <h1 class="display-1 text-secondary">404</h1>
    <p>Looks like the page you are looking for wasn't found</p>
    <p>Go <a href="/">home</a></p>
</div>

<% include partials/footer %>